// Place all the styles here which do not fit anywhere else.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 	
	This File includes multipurpose CSS
*/

/* CSS Variables */
@import "utilities/variables";



/* General body dimensions */
body{
	width:100%;
	height:100%;
	margin:0;
}


/* General Content dimensions */
.content{
	margin-top:80px;
	width: 100vw;

	@media screen and (min-height:600px){
		min-height: 88.1vh;
	}
	@media screen and (min-height:800px){
		min-height: 91.6vh;
	}

	min-height: 85vh;
	margin-left: 0;
	margin-right: 0;
	background: linear-gradient($JELLY_COLOR_1, $JELLY_COLOR_6);
}