/* This File contains all CSS Variables for the Application */


/* Jelly Colors, from lightest to darkest */
$JELLY_COLOR_1:#00CAEE;
$JELLY_COLOR_2:#01BCDD;
$JELLY_COLOR_3:#00A9C8;
$JELLY_COLOR_4:#0094AE;
$JELLY_COLOR_5:#008096;
$JELLY_COLOR_6:#006B7F;


/* Fix Height for the Application Header */
$HEADER_HEIGHT: 80px;

/* Fix Height for the Application Footer */
$FOOTER_HEIGHT: 60px;