<div id="welcome_Headline">
	<h2>Willkommen zu</h2>
	<h1>Example Jelly</h1>
</div>
<div id="login_Button">
	<button id="welcome_Login_Button" type="button"><%= link_to 'LOGIN', user_login_path %></button>
</div>
