// Place all the styles related to the Footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 	
	This File includes all CSS of Footer.
*/

/* CSS Variables */
@import "utilities/variables";

/* General Rules of the Application */
@import "utilities/generalRules"; 




/* Application Footer CSS */
#application_Footer{
	width:100%;
	height:$FOOTER_HEIGHT;
	position:fixed;
	bottom:0px;
	z-index:10;
	left:0px;
	background:$JELLY_COLOR_6;
	
	div{
		float:left;
		color:#fff;
	}
}

#application_Footer div:last-child p,img{
	margin-right: 5px;
	margin-top: 5px;
	float:right;
}

#application_Footer div:last-child p{
	margin-right: 15px;
	margin-top: 20px;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

.fix_footer_size_30{
	width:30%;
	height:$FOOTER_HEIGHT;
}

.fix_footer_size_40{
	width:40%;
	height:$FOOTER_HEIGHT;
}
/* END - Application Footer CSS */