// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 	
	This File includes all CSS of the landing/welcome page.
*/

/* CSS Variables */
@import "utilities/variables";

/* General Rules of the Application */
@import "utilities/generalRules"; 


/* Body of login page */
#login_Body{
	position:relative;
	padding:0px;
	margin:0px;
	top:-22px;
	min-height: 96vh;
	background-color:$JELLY_COLOR_4;
}
/* END - Login Body CSS */




/* START - Flash box */
#error_Box{
	width:80%;
	height:20px;
	margin: 0 auto;
	text-align:left;
	background:red;
	border-style:1px, solid;
}
/* END - Flash Box */


/* Headline CSS */
#login_Headline{
	position: relative;
	text-align: center;
	top: 65px;
} 

#login_Headline h2, h3{
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 2em;
	color: #fff;
}

#login_Headline h3{
	font-size: 1.2em;
}
/* END - Headline CSS*/



/* Login Form CSS */
#login_Form{
	text-align: center;
	margin-top: 100px;

	form {
		margin-left: auto;
		margin-right: auto;
		max-width: 240px;
	}
	
	p{
		color: #fff;
		font-family: "Helvetica", Arial, sans-serif;
		font-size: 1.2em;
	}

	input{
		height: 30px;
		border-radius: 10px;
		border-style: solid;
		border-color: #fff;
		border-width: 1px;
	}

	input:last-child{
		margin-top:30px;
	}
}
/* END - Login Form CSS */




/* START - Sign up link */
#sign_up{
	margin-top: 25px;
	text-align: center;
	color:#ffffff;
	font-size: 1.2em;

	a{
		text-decoration: none;
		font-weight: bold;
		color:#ffffff;
	}

	a:hover{
		color:$JELLY_COLOR_1;
		background:$JELLY_COLOR_4;
	}
}
/* END - Sign up link */