<footer id="application_Footer">
	<div class="fix_footer_size_30">
	</div>
	<div class="fix_footer_size_40">
	</div>
	<div class="fix_footer_size_30">
		<%= image_tag("Jellyfish_logo.png", size:"50") %>
		<p>JellyFISH</p>
	</div>
</footer>