<footer id="application_Footer">
	<div class="fix_footer_size_30">
	</div>
	<div class="fix_footer_size_40">
	</div>
	<div class="fix_footer_size_30">
		<%= link_to image_tag("Jellyfish_logo.png", size:"50"), "https://github.com/jelly-hub" %>
		<p>JellyFISH Inc.</p>
	</div>
</footer>