<header id="application_Header">
	<div class="fix_header_size_60">
	</div>
	<div class="fix_header_size_30">
		<p>Logged in as: <%= @user.e_mail %>
	</div>
	<div class="fix_header_size_10">
		<p><%= link_to "Log out", logout_path %></p>
	</div>
</header>